@using Klingsten.CVScoringSystem.Shared.Models
@using Klingsten.CVScoringSystem.Shared.Managers
@inject IScorecardService ScorecardService
<h3>Common Vulnerability Scoring System - Calculator</h3>
<MudImage Src="images/cvss_web.png" Alt="CVSS logo" Elevation="25" Class="rounded-lg ma-4"/>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6" Border="true">
    <MudTabPanel Text="Base score">
        <CvsScoreCard @ref="_cvsBaseScoreCard" ScoreCard="_baseScoreCard" OnScoreCardCompleted="OnScoreCardCompleted"></CvsScoreCard>
    </MudTabPanel>
    <MudTabPanel Text="Temporal score">
        <CvsScoreCard @ref="_cvsTemporalScoreCard" ScoreCard="_temporalScoreCard"></CvsScoreCard>
    </MudTabPanel>
    <MudTabPanel Text="Environment score">
        <CvsScoreCard @ref="_cvsEnvironmentScoreCard" ScoreCard="_environmentScoreCard"></CvsScoreCard>
    </MudTabPanel>
    <MudTabPanel Text="Modified">
        <CvsScoreCard @ref="_cvsModifiedScoreCard" ScoreCard="_modifiedScoreCard"></CvsScoreCard>
    </MudTabPanel>
</MudTabs>

@code {

    SurveyModel _survey = new();

    CvsScoreCard? _cvsBaseScoreCard;
    ScoreCard? _baseScoreCard;

    CvsScoreCard? _cvsTemporalScoreCard;
    ScoreCard? _temporalScoreCard;

    CvsScoreCard? _cvsEnvironmentScoreCard;
    ScoreCard? _environmentScoreCard;

    CvsScoreCard? _cvsModifiedScoreCard;
    ScoreCard? _modifiedScoreCard;

    protected override void OnInitialized()
    {
        var scoreCards = ScorecardService.GetScoreCards();
        _baseScoreCard = scoreCards.Single(s => s.MetricType == ScoreMetricType.Base);
        _temporalScoreCard = scoreCards.Single(s => s.MetricType == ScoreMetricType.Temporal);
        _environmentScoreCard = scoreCards.Single(s => s.MetricType == ScoreMetricType.Environmental);
        _modifiedScoreCard = scoreCards.Single(s => s.MetricType == ScoreMetricType.Modified);
        StateHasChanged();
    }

    private void OnScoreCardCompleted(ScoreCard scoreCard)
    {
        var metrics = new List<Metric>();
        metrics.AddRange(_baseScoreCard.Metrics);
        metrics.AddRange(_temporalScoreCard.Metrics);
        metrics.AddRange(_environmentScoreCard.Metrics);
        metrics.AddRange(_modifiedScoreCard.Metrics);

        var vectorStringArray = metrics.Select(m => m.ToVectoryStringValue()).ToArray();
        var vectorString = $"CVSS:3.1/{string.Join('/', vectorStringArray)}";
        _baseScoreCard.VectorString = vectorString;

        var calculator = new ScoreCalculatorManager(_baseScoreCard, _temporalScoreCard, _environmentScoreCard, _modifiedScoreCard);
        var result = calculator.GetScoreResult(vectorString);
        _baseScoreCard.Score = result.ScoreDetail.BaseScore;
        _temporalScoreCard.Score = result.ScoreDetail.TempuralScore;
        _environmentScoreCard.Score = result.ScoreDetail.EnvironmentScore;
        _modifiedScoreCard.Score = result.ScoreDetail.EnvironmentScore;
        StateHasChanged();
    }

}