
<MudGrid >
    <MudItem xl="12">
        Babar
    </MudItem>
    <MudItem xl="6">
        <h3>Attack vector (AV)</h3>
        <div>
            <MudChipSet @bind-SelectedChip="_selected" Filter="true" Mandatory="true">
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Network (N)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Adjacent (A)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Local (L)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Physical (P)</MudChip>
            </MudChipSet>
        </div>
    </MudItem>
    <MudItem xl="6">
        <h3>Attack vector (AV)</h3>
        <div>
            <MudChipSet @bind-SelectedChip="_selected" Filter="true" Mandatory="true">
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Network (N)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Adjacent (A)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Local (L)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Physical (P)</MudChip>
            </MudChipSet>
        </div>
    </MudItem>
    <MudItem xl="6">
        <h3>Attack vector (AV)</h3>
        <div>
            <MudChipSet @bind-SelectedChip="_selected" Filter="true" Mandatory="true">
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Network (N)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Adjacent (A)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Local (L)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Physical (P)</MudChip>
            </MudChipSet>
        </div>
    </MudItem>
    <MudItem xl="6">
        <h3>Attack vector (AV)</h3>
        <div>
            <MudChipSet @bind-SelectedChip="_selected" Filter="true" Mandatory="true">
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Network (N)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Adjacent (A)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Local (L)</MudChip>
                <MudChip Text="grey" Color="Color.Default" SelectedColor="Color.Success">Physical (P)</MudChip>
            </MudChipSet>
        </div>
    </MudItem>
</MudGrid>

@code {
    MudChip? _selected;
}